section.sheet {
  background-image: url('/assets/images/contract.svg');
  background-size: cover;
  padding: 10px !important;
  margin: 0px !important;
  position: relative !important;
}


body {
  background: #fff !important;
  font-family: 'Almarai', sans-serif;
}


.container {
  padding: 0px !important;
  margin: 0px !important;
  margin-top: 4.5cm !important;
  padding-left: 1.2cm !important;
}

.container-mt0 {
  padding: 0px !important;
  margin: 0px !important;
  padding-right: 1.2cm !important;
}


.container-body {
  padding-left: 1.2cm !important;
}


.text-primary {
  color: #0067ff !important;
  font-weight: bold;
}


.printable-table {
  width: 100%;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 0px !important;
  border-color: rgb(225, 225, 225);
  padding-left: 1.2cm !important;
  padding-right: 1.2cm !important;
}

.printable-table th {
  background-color: #f7f7f7 !important;
  color: #0067ff !important;
}

.printable-table td,
.printable-table th {
  padding: 5px 10px;
  margin: 0px !important;
  border: 0.2px solid #d1d1d1;
}

@media print {

  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.no-border {
  border: none !important;
}

.printable-table .bg-primary {
  background-color: #0067ff !important;
  color: #fff !important;
}

@media print {
  .pagebreak {
    page-break-before: always;
  }

  /* page-break-after works, as well */
}

.very-small {
  font-size: 12px !important;
}

.text-right {
  text-align: right !important;
}

.transperant {
  background-color: transparent !important;
}

.transperant th,
.transperant td,
.transperant tr {
  background-color: transparent !important;
  border: none !important;
}

td.ls-element {
  margin-top: -9px !important;
  display: block;
  width: 100% !important;
}

body.A4 .p-20 {
  padding: 25px !important;
}

table.print-table {
  position: absolute;
  top: 10.2cm;
  width: 19cm;
  width: 81.8%;
  left: 2.3cm;
}

table.print-table2 {
  position: absolute;
  top: 12.4cm;
  width: 19cm;
}

table.print-table th {
  background-color: #D3EEE8 !important;
  padding: 10px;
  font-weight: bold;
  font-size: 12px;
}

table.print-table th {
  padding: 5px 20px;
  border: 2px solid #000;
  color: rgb(0, 0, 0) !important;
  text-align: center;
  font-weight: bold !important;
}

table.print-table td {
  border: 2px solid #000 !important;
  text-align: center;
}

.container {
  padding: 0px !important;
  margin: 0px !important;
  margin-top: 4.5cm !important;
  padding-left: 0.5cm !important;
}

.terms {
  background-image: url(/assets/images/quotations/1-terms.png?v=2);
  width: 21cm;
  height: 238px;
  background-size: cover;
  position: absolute;
  bottom: 58px;
  left: 0;
}

span#delivery_time {
  position: absolute;
  top: 69px;
  left: 4.2cm;
  font-size: 13px;
}

table.print-table td.no-border {
  border-width: 0px !important;
}

.bg-primary {
  background-color: #D3EEE8 !important;
  border: 2px solid #000 !important;
  text-align: center;
  color: rgb(0, 0, 0) !important;
}

.container {
  padding: 0px !important;
  margin: 0px !important;
  margin-top: 4.5cm !important;
  padding-left: 1.3cm !important;
}

#id {
  font-size: 20px;
  font-weight: bold;
  color: #282664;
  width: 300px;
  margin-left: 32px;
  margin-top: 70px;
  text-align: center;
}


#name {
  font-size: 12px;
  font-weight: bold;
  color: #282664;
  width: 300px;
  margin-left: 410px;
  margin-top: 243px;
  text-align: center;
}




#phone {
  font-size: 12px;
  font-weight: bold;
  color: #282664;
  width: 300px;
  margin-left: 58px;
  margin-top: -18px;
  text-align: center;
}



#national {
  font-size: 12px;
  font-weight: bold;
  color: #282664;
  width: 300px;
  margin-left: 474px;
  margin-top: 47px;
  text-align: center;
}


#id_number {
  font-size: 12px;
  font-weight: bold;
  color: #282664;
  width: 300px;
  margin-left: 244px;
  margin-top: -18px;
  text-align: center;
}


#passport {
  font-size: 12px;
  font-weight: bold;
  color: #282664;
  width: 300px;
  margin-left: 13px;
  margin-top: -18px;
  text-align: center;
}


#national_number {
  font-size: 12px;
  font-weight: bold;
  color: #282664;
  width: 300px;
  margin-left: 403px;
  margin-top: 47px;
  text-align: center;
}


#address {
  font-size: 12px;
  font-weight: bold;
  color: #282664;
  width: 300px;
  margin-left: 65px;
  margin-top: -18px;
  text-align: center;
}




#service {
  font-size: 12px;
  font-weight: bold;
  color: #282664;
  width: 300px;
  margin-left: 468px;
  margin-top: 79px;
  text-align: center;
}



#subscription {
  font-size: 12px;
  font-weight: bold;
  color: #282664;
  width: 300px;
  margin-left: 248px;
  margin-top: -19px;
  text-align: center;
}



#share {
  font-size: 12px;
  font-weight: bold;
  color: #282664;
  width: 300px;
  margin-left: 8px;
  margin-top: -19px;
  text-align: center;
}



#amount {
  font-size: 12px;
  font-weight: bold;
  color: #282664;
  width: 300px;
  margin-left: 448px;
  margin-top: 86px;
  text-align: center;
}


#date {
  font-size: 12px;
  font-weight: bold;
  color: #282664;
  width: 300px;
  margin-left: 7px;
  margin-top: 315px;
  text-align: center;
}



#description 
{
  font-size: 25px;
  margin-right: 61px;
  text-align: center;
  margin-top: 111px;
}

#installments
{
  font-size: 24px;
  text-align: center;
  margin-top: 68px;
  margin-right: -509px;
}

#startMonth 
{
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  margin-top: -34px;
  margin-right: 244px;
}


#endMonth 
{
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  margin-top: -34px;
  margin-right: 407px;
}


#monthlyDeduction 
{
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  margin-top: -34px;
  margin-right: 592px;
}


#bank 
{
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  margin-top: 71px;
  margin-right: -345px;
}


#bank_number
{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: -23px;
  margin-right: 293px;
}


#customer_name
{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 134px;
  margin-right: -344px;
}


#customer_phone
{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: -31px;
  margin-right: 151px;
}


#identifier_number
{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: -31px;
  margin-right: 495px;
}


#customer_bank_number
{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 82px;
  margin-right: -344px;
}


#notes 
{
  
}


#id p {
  text-align: center;
  font-size: 36px;
  color: #e30613;
  font-weight: bold;
  font-family: sans-serif;
}




#bill_air #flight_id {
  font-size: 21px;
  font-weight: bold;
  color: black;
  width: 103px;
  margin-left: auto;
  margin-top: -39px;
  margin-right: 93px;
  text-align: center;
}


#bill_sea #flight_id {
  font-size: 21px;
  font-weight: bold;
  color: black;
  width: 103px;
  margin-left: auto;
  margin-top: 180px;
  margin-right: 54px;
  text-align: center;
}


.car-name
{
  text-align: center;
  width: 178.9px;
  height: 81px;
  margin-left: auto;
  margin-top: 170px;
  font-size: 23px;
  margin-right: 53px;
}



.car-year
{
  text-align: center;
  width: 140.9px;
  height: 60px;
  margin-left: auto;
  margin-top: -59px;
  font-size: 15px;
  margin-right: 192px;
  font-weight: bold;
  font-family: cursive;
}



.car-brand
{
  text-align: center;
  width: 140.9px;
  height: 58px;
  margin-left: auto;
  margin-top: -77px;
  font-size: 22px;
  margin-right: 253px;
  font-weight: bold;
}

.car-model
{
  text-align: center;
  width: 140.9px;
  height: 60px;
  margin-left: auto;
  margin-top: -59px;
  font-size: 25px;
  margin-right: 425px;
  font-weight: bold;
}



.car-mileage
{
  text-align: center;
  width: 140.9px;
  height: 60px;
  margin-left: auto;
  margin-top: -64px;
  font-size: 25px;
  margin-right: 601px;
  font-weight: bold;
}


.sale-details
{
  margin-top: 120px !important;
}

.car-fuel
{
  text-align: center;
  width: 140.9px;
  height: 60px;
  margin-left: auto;
  margin-top: 6px;
  font-size: 15px;
  margin-right: 57px;
  font-weight: bold;
}


.car-transmission
{
  text-align: center;
  width: 140.9px;
  height: 60px;
  margin-left: auto;
  margin-top: -59px;
  font-size: 15px;
  margin-right: 193px;
  font-weight: bold;
}


.car-condition
{
  text-align: center;
  width: 140.9px;
  height: 60px;
  margin-left: auto;
  margin-top: -59px;
  font-size: 15px;
  margin-right: 323px;
  font-weight: bold;
}


.car-top_speed
{
  text-align: center;
  width: 140.9px;
  height: 60px;
  margin-left: auto;
  margin-top: -59px;
  font-size: 15px;
  margin-right: 464px;
  font-weight: bold;
}


.car-country
{
  text-align: center;
  width: 140.9px;
  height: 60px;
  margin-left: auto;
  margin-top: -59px;
  font-size: 15px;
  margin-right: 528px;
  font-weight: bold;
}


.customer-name
{
  text-align: center;
  width: 140.9px;
  height: 60px;
  margin-left: auto;
  margin-top: 77px;
  font-size: 15px;
  margin-right: 68px;
  font-weight: bold;
}

.customer-phone
{
  text-align: center;
  width: 140.9px;
  height: 60px;
  margin-left: auto;
  margin-top: -59px;
  font-size: 15px;
  margin-right: 240px;
  font-weight: bold;
}


.customer-phone2
{
  text-align: center;
  width: 140.9px;
  height: 60px;
  margin-left: auto;
  margin-top: -59px;
  font-size: 15px;
  margin-right: 420px;
  font-weight: bold;
}

.customer-address
{
  text-align: center;
  width: 140.9px;
  height: 60px;
  margin-left: auto;
  margin-top: -64px;
  font-size: 10px;
  margin-right: 584px;
  font-weight: bold;
}


.sale_price
{
  text-align: center;
  width: 140.9px;
  height: 60px;
  margin-left: auto;
  margin-top: 105px;
  font-size: 15px;
  margin-right: 69px;
  font-weight: bold;
}


.payment-method
{
  text-align: center;
  width: 140.9px;
  height: 60px;
  margin-left: auto;
  margin-top: -59px;
  font-size: 15px;
  margin-right: 240px;
  font-weight: bold;
}



#bill_air #flight_type {
  font-size: 20px;
  font-weight: bold;
  color: black;
  width: 103px;
  margin-left: auto;
  margin-top: -50px;
  margin-right: 261px;
  text-align: center;
}

#bill_sea #flight_type {
  font-size: 17px;
  font-weight: bold;
  color: black;
  width: 103px;
  margin-left: auto;
  margin-top: -48px;
  margin-right: 150px;
  text-align: center;
}

#bill_air #flight_date {
  font-size: 20px;
  font-weight: bold;
  color: black;
  width: 103px;
  margin-left: auto;
  margin-top: -41px;
  margin-right: 429px;
  text-align: center;
}



#bill_sea #flight_date {
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 103px;
  margin-left: auto;
  margin-top: -39px;
  margin-right: 247px;
  text-align: center;
}



#bill_sea #harbor {
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 103px;
  margin-left: auto;
  margin-top: -39px;
  margin-right: 346px;
  text-align: center;
}



#bill_sea #cont_number {
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 103px;
  margin-left: auto;
  margin-top: -39px;
  margin-right: 439px;
  text-align: center;
}



#bill_sea #company {
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 103px;
  margin-left: auto;
  margin-top: -39px;
  margin-right: 538px;
  text-align: center;
}



#bill_sea #bill {
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 103px;
  margin-left: auto;
  margin-top: -39px;
  margin-right: 634px;
  text-align: center;
}


#bill_air #bill {
  font-size: 20px;
  font-weight: bold;
  color: black;
  width: 103px;
  margin-left: auto;
  margin-top: -46px;
  margin-right: 602px;
  text-align: center;
}


#bill_air #code {
  font-size: 20px;
  font-weight: bold;
  color: black;
  width: 103px;
  margin-left: auto;
  margin-top: 96px;
  margin-right: 92px;
  text-align: center;
}


#bill_air #customer {
  font-size: 11px;
  font-weight: bold;
  color: black;
  width: 253px;
  margin-left: auto;
  margin-top: -39px;
  margin-right: 185px;
  text-align: center;
}


#bill_air #phone {
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 253px;
  margin-left: auto;
  margin-top: -36px;
  margin-right: 352px;
  text-align: center;
}


#bill_air #city {
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 253px;
  margin-left: auto;
  margin-top: -25px;
  margin-right: 526px;
  text-align: center;
}



#bill_air #box {
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 253px;
  margin-left: auto;
  margin-top: 119px;
  margin-right: 16px;
  text-align: center;
}


#bill_air #weight {
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 253px;
  margin-left: auto;
  margin-top: -26px;
  margin-right: 187px;
  text-align: center;
}


#bill_air #price {
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 253px;
  margin-left: auto;
  margin-top: -23px;
  margin-right: 356px;
  text-align: center;
}

#bill_air #debt {
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 253px;
  margin-left: auto;
  margin-top: -23px;
  margin-right: 526px;
  text-align: center;
}





#bill_sea #code {
  font-size: 20px;
  font-weight: bold;
  color: black;
  width: 103px;
  margin-left: auto;
  margin-top: 110px;
  margin-right: 92px;
  text-align: center;
}


#bill_sea #customer {
  font-size: 11px;
  font-weight: bold;
  color: black;
  width: 253px;
  margin-left: auto;
  margin-top: -39px;
  margin-right: 185px;
  text-align: center;
}


#bill_sea #phone {
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 253px;
  margin-left: auto;
  margin-top: -36px;
  margin-right: 352px;
  text-align: center;
}


#bill_sea #city {
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 253px;
  margin-left: auto;
  margin-top: -25px;
  margin-right: 526px;
  text-align: center;
}



#bill_sea #box {
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 253px;
  margin-left: auto;
  margin-top: 133px;
  margin-right: 16px;
  text-align: center;
}


#bill_sea #weight {
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 253px;
  margin-left: auto;
  margin-top: -26px;
  margin-right: 187px;
  text-align: center;
}


#bill_sea #price {
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 253px;
  margin-left: auto;
  margin-top: -23px;
  margin-right: 356px;
  text-align: center;
}

#bill_sea #debt {
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 253px;
  margin-left: auto;
  margin-top: -23px;
  margin-right: 526px;
  text-align: center;
}


#price2 {
  font-size: 28px;
  font-weight: bold;
  color: rgb(227 6 19);
  width: 253px;
  margin-left: auto;
  text-align: center;
  position: absolute;
  right: 3cm;
  bottom: 9.5cm;
}

#debt2 {
  font-size: 28px;
  font-weight: bold;
  color: rgb(227 6 19);
  width: 253px;
  margin-left: auto;
  text-align: center;
  position: absolute;
  right: 3cm;
  bottom: 8.4cm;
}

.date
{
  position: absolute;
  top: 140px;
  left: 93px;
}


.date-invoice
{
  font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 130px;
    left: 94px;
}

.invoice-id
{
  font-size: 25px;
  position: absolute;
  top: 138px;
  right: 135px;
}

.invoice-name
{
  position: absolute;
    top: 6.5cm;
    right: 140px;
}

.invoice-type
{
  position: absolute;
  font-size: 19px;
  top: 240px;
  left: 198px;
}

.invoice-items
{
  padding: 15px 52px;
  margin-top: 279px;
}

.invoice-total
{
  padding: 0 51px;
}

body.A4 .sheet {
  width: 210mm;
  height: 297mm;
}